$menu-height: 80px;
$logo-height: 40px;

#menu {
    position: fixed;
    z-index: 1020;
    height: $menu-height;
    width: 100%;

    .logo {
        position: absolute;
        top: ($menu-height - $logo-height) / 2;
        left: 20px;
        img {
            height: 40px;
        }
    }

    .menu-btn {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 0px;
        right: 0px;
        cursor: pointer;
    }
}

#menu-spacer {
    height: $menu-height;
    display: none;
}

#menu-background {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    background: $blue;
    height: $menu-height;
}

.menu-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    display:  inline-block;
    width: 40px;
    height: 40px;

    span {
        margin: 0 auto;
        position: relative;
        top: 18px;
        transition-duration: 0s;
        transition-delay: .2s;
    }

    span:before, span:after {
        position: absolute;
        content: '';
    }

    span, span:before, span:after {
        width: 40px;
        height: 4px;
        border-radius: 2px;
        background-color: $white;
        display: block;
    }

    span:before {
        margin-top: -12px;
        transition-property: margin, transform;
        transition-duration: .2s;
        transition-delay: .2s, 0;
    }

    span:after {
        margin-top: 12px;
        transition-property: margin, transform;
        transition-duration: .2s;
        transition-delay: .2s, 0;
    }

    &.open span {
        background-color: rgba(0,0,0,0.0);
        transition-delay: .2s;
    }

    &.open span:before {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: 0, .2s;
    }

    &.open span:after {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: 0, .2s;
    }
}
