$menu-height: 80px;
$logo-height: 40px;

#menu {
    position: fixed;
    z-index: 1020;
    height: $menu-height;
    width: 100%;

    .logo {
        position: absolute;
        top: ($menu-height - $logo-height) / 2;
        left: 20px;
        img {
            height: 40px;
        }
    }

    .menu-btn {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 0px;
        right: 0px;
        cursor: pointer;
    }

    .menu-icon {
        position: absolute;
        right: 20px;
        top: 20px;
        display:  inline-block;
        width: 40px;
        height: 40px;

        span {
            margin: 0 auto;
            position: relative;
            top: 18px;
            transition-duration: 0s;
            transition-delay: .2s;
        }

        span:before, span:after {
            position: absolute;
            content: '';
        }

        span, span:before, span:after {
            width: 40px;
            height: 4px;
            border-radius: 2px;
            background-color: $white;
            display: block;
        }

        span:before {
            margin-top: -12px;
            transition-property: margin, transform;
            transition-duration: .2s;
            transition-delay: .2s, 0;
        }

        span:after {
            margin-top: 12px;
            transition-property: margin, transform;
            transition-duration: .2s;
            transition-delay: .2s, 0;
        }

        &.open span {
            background-color: rgba(0,0,0,0.0);
            transition-delay: .2s;
        }

        &.open span:before {
            margin-top: 0;
            transform: rotate(45deg);
            transition-delay: 0, .2s;
        }

        &.open span:after {
            margin-top: 0;
            transform: rotate(-45deg);
            transition-delay: 0, .2s;
        }
    }
}

#menu-spacer {
    height: $menu-height;
    display: none;
}

#menu-background {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    background: $blue;
    height: $menu-height;
}


$max-side-menu-width: 320px;
#menu-sidebar {
    position: fixed;
    z-index: 1010;
    top: 0;
    height: auto;
    bottom: 0;
    max-width: 100%;
    right: -$max-side-menu-width;
    width: $max-side-menu-width;
    background: $blue;

    nav {
        position: absolute;
        overflow: auto;
        top: $menu-height;
        bottom: 41px;
        height: auto;
        width: 100%;

        .top-links {
            list-style: none;
            background: $blueDark;
            min-height: 10px;
            padding: 15px 0;
            border-top: 1px solid $blueDarker;

            li {
                float: left;
                width: 50%;

                a {
                    padding: 5px 20px;
                    display: block;
                    text-decoration: none;
                    color: $white;
                    font-size: 12px;

                    &:hover {
                        color: $whiteDark;
                    }
                }
            }

            &:after {
                clear: both;
            }
        }

        .main-links {
            list-style: none;
            border-top: 1px solid $blueDarker;
            border-bottom: 1px solid $blueLight;

            li {
                border-top: 1px solid $blueLight;
                border-bottom: 1px solid $blueDarker;

                a{
                    padding: 20px;
                    display: block;
                    text-decoration: none;
                    color: $white;
                }

                &:hover {
                    background: $blueDark;
                    border-top: 1px solid $blueDark;
                }
            }
        }
    }

    .bottom {
        position: absolute;
        height: 40px;
        bottom: 0;
        width: 100%;
        background: $blueDark;
        border-top: 1px solid $blueDarker;

        .twitter, .facebook, .github {
            position: absolute;
            top: 0;
            color: $white;
            padding: 10px;
            height: 20px;
            font-size: 20px;
            width: 20px;
            display: block;
            text-align: center;

            &:hover {
                background: $blueDarker;
            }
        }

        .twitter {
            right: 0;
        }
        .facebook {
            right: 40px;
        }
        .github {
            right: 80px;
        }

        .copy {
            position: absolute;
            top: 13px;
            left: 13px;
            font-size: 12px;
            color: $white;
            text-decoration: none;
        }
    }
}
